html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 71.94px;
}

.container-full{
    width: 100%;
    margin: 0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.col-20{
    display: flex;
    width: 20%;
}

.col-33{
    margin: 10px;
    width: calc(100% / 3 - 20px);
}

.col-60{
    display: flex;
    width: 60%;
}

.nav{
    display: flex;
}

.nav > li{
    list-style: none;
}

.nav > li:not(:last-child){
    margin-right: 20px;
}

.nav > li > a{
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
}

.logo{
    width: 15%;
}

.product-image{
    width: 100%;
    height: 90%;
    margin-bottom: 15px;
}

.product-image > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.product-info{
    width: 100%;
    height: 10%;
}

/*classi utility*/

.bg-orange{
    background-color: #ff6900;
}

.box-border{
    box-shadow: 0px 0.2px 0.2px #ff6900;
    border: 0.1px solid rgb(0, 0, 0);
}

.align-l{
    justify-content: left;
    align-items: center;
}

.align-c{
    justify-content: center;
    align-items: center;
}

.align-r{
    justify-content: right;
    align-items: center;
}

.fixed{
    position: fixed;
    z-index: 2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}